/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 60%;
    height: 70%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form_companyname{
    width: 40%;
    height: 100%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .forms-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* background-color: #289142; */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin: 10px;
  }
  
  .input-group label {
    display: block;
    margin: 5px;
  }
  
  .input-group input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* background-color: #007bff; */
  }
  form{
    /* background-color: aqua; */
    text-align: center;
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .btn {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #007bff; */
  }
  .social_icon ion-icon{
    margin: 5px;
    cursor: pointer;
  }
  .google{
    color: red;
  }
  .facebook{
    color:#1877F2;
  }
  .twitter{
    color:#1da1f2;
  }
  .github{
    color: black;
  }
  .signup-form {
    display: none;
  }
  